<form>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" id="firstName" class="form-control" {{on "input" (fn this.updateField "firstName")}} required>
  </div>

  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input type="text" id="lastName" class="form-control" {{on "input" (fn this.updateField "lastName")}} required>
  </div>

  <BsButton @type="primary" {{on "click" this.submitBooking}} @buttonType="submit">Book</BsButton>
</form>